<meta property="name" content="{{@pagename}}">
<meta property="author" typeof="Person" content="{{@feedattr.author}}">

<!--breadcrumb-->
<div id="navline-white">
    <div class="uk-container uk-text-white">
        <a class="bc-link" href="{{@BASEURL}}">{{@feedattr.title}}</a> > {{@dict_navi_page}}: <a
            class="bc-link" href="{{@BASEURL}}{{@feedattr.slug}}/show/page/{{@pagename}}">{{@pagename}}</a>
    </div>
</div>

<!--pages-->
<div id="tm-main" class="tm-main uk-section uk-section-default" uk-height-viewport="expand: true"
     style="box-sizing: border-box;">
    <div class="uk-container">
        <div class="uk-grid" uk-grid="">
            <div class="uk-width-expand@m uk-first-column">
                <div class="uk-child-width-1-1@m uk-grid uk-grid-stack" uk-grid="">
                    <div class="uk-first-column">
                        <article class="uk-article status-publish format-standard" typeof="Article">
                            <include href="{{@showpage}}"/>
                        </article>
                    </div>
                </div>
            </div>
            <include href="set/sidebar.html"/>
        </div>
    </div>
</div>