<div id="tm-main" class="tm-main uk-section uk-section-default" uk-height-viewport="expand: true"
     style="box-sizing: border-box;">
    <div class="uk-container">
        <div class="uk-grid" uk-grid="">
            <div class="uk-width-expand@m uk-first-column">
                <div class="uk-child-width-1-1@m uk-grid uk-grid-stack" uk-grid="">
                    <div class="uk-first-column">
                        <!-- search error -->
                        <article class="uk-article has-post-thumbnail"
                                 typeof="Search">
                            <div class="uk-margin-medium-bottom uk-container uk-container-small uk-text-center">
                                <h2 class="uk-article-title uk-margin-remove-top">
                                    Suche erfolglos :(
                                </h2>
                                <p class="uk-article-meta">
                                    Leider wurden keine Episoden zu diesen Sucheanfrage gefunden!
                                </p>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
            <include href="set/sidebar.html"/>
        </div>
    </div>
</div>