<div class="tm-header uk-visible@m" uk-header="">
    <div class="uk-navbar-container uk-box-shadow-small"
         uk-sticky=""
         media="768"
         show-on-up=""
         animation="uk-animation-slide-top"
         cls-active="uk-active uk-navbar-sticky">
        <div class="uk-container">
            <nav class="uk-navbar" uk-navbar>
                <div class="uk-navbar-left">
                    <a href="{{@BASEURL}}" class="uk-navbar-item uk-logo">
                        <check if="{{ @templatevars.logoType == 'poster' }}">
                            <true>
                                <img src="{{@BASEURL}}{{@TptPath}}poster.png"
                                     style="width: 76px;"
                                     class="uk-responsive-height"
                                     alt="{{@feedattr.title}}">
                            </true>
                            <false>
                                <img src="{{@BASEURL}}{{@TptPath}}logo.png"
                                     style='width:{{@templatevars.logoSize}}'
                                     class="uk-responsive-height"
                                     alt="{{@feedattr.title}}">
                            </false>
                        </check>
                    </a>
                    <ul class="uk-navbar-nav">
                        <li class="uk-active">
                            <a class="uk-navbar-toggle" uk-navbar-toggle-icon
                               href="{{@BASEURL}}"></a>
                        </li>
                        <li>
                            <a class="uk-navbar-toggle"
                               href="{{@BASEURL}}">Home</a>
                        </li>

                        <set pagearr="{{ array() }}"/>
                        <repeat group="{{explode(',',@UI)}}" value="{{@tpath}}">
                            <repeat group="{{glob(@tpath.'/pages/*.html')}}" value="{{@template}}">
                                <check if="{{!in_array(basename(@template),@pagearr)}}">
                                    <li>
                                        <a href="{{@BASEURL}}{{@feedhome}}{{@feedattr.slug}}/show/page/{{basename(@template,'.html')}}{{@exthtml}}">{{basename(@template,'.html')}}</a>
                                    </li>
                                    <?php /* avoid multiple inclusion  */ ?>
                                    <set pagearr="{{array_merge(@pagearr,array(basename(@template)))}}"/>
                                </check>
                            </repeat>
                        </repeat>

                        <!-- podcast subpages -->
                        <set pagearr="{{ array() }}"/>
                        <repeat group="{{explode(',',@UI)}}" value="{{@tpath}}">
                            <repeat group="{{glob(@tpath.'/pages/*',GLOB_ONLYDIR)}}" value="{{@dir}}">
                                <check if="{{basename(@dir)}} != 'podcast' ">
                                    <check if="{{!in_array(basename(@dir),@pagearr)}}">
                                        <li>
                                            <a href="#">{{basename(@dir)}}</a>
                                            <div class="uk-navbar-dropdown">
                                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                                    <repeat group="{{glob(@tpath.'/pages/'.basename(@dir).'/*.html')}}"
                                                            value="{{@template}}">
                                                        <li>
                                                            <a href="{{@BASEURL}}{{@feedhome}}{{@feedattr.slug}}/show/page/{{basename(@dir)}}/{{basename(@template,'.html')}}{{@exthtml}}">{{basename(@template,'.html')}}</a>
                                                        </li>
                                                    </repeat>
                                                </ul>
                                            </div>
                                        </li>
                                        <?php /* avoid multiple inclusion  */ ?>
                                        <set pagearr="{{array_merge(@pagearr,array(basename(@dir)))}}"/>
                                    </check>
                                </check>
                            </repeat>
                        </repeat>
                    </ul>
                </div>


                <div class="uk-navbar-right">
                    <check if="{{@templatevars.navisearch == 'on'}}">
                        <div class="uk-navbar-item widget-search uk-padding-right" id="widget-search-1">
                            <a href="#search-firtz-modal"
                               uk-search-icon=""
                               uk-toggle=""
                               class="uk-search-icon uk-icon"></a>
                            <div id="search-firtz-modal" class="uk-modal-full uk-modal" uk-modal="">
                                <div class="uk-modal-dialog uk-flex uk-flex-center uk-flex-middle"
                                     uk-height-viewport=""
                                     style="box-sizing: border-box; min-height: 100vh; height: 100vh;">
                                    <button class="uk-modal-close-full uk-close uk-icon" type="button"
                                            uk-close=""></button>
                                    <div class="uk-search uk-search-large">
                                        <form id="search-firtz"
                                              action="{{@BASEURL}}search"
                                              method="get"
                                              role="search"
                                              class="uk-search uk-search-large">
                                            <input type="text"
                                                   style="display:none;"
                                                   value="{{@BASEURL}}{{@feedattr.slug}}"
                                                   name="f">
                                            <input name="s"
                                                   placeholder="{{@dict_searchtext}}"
                                                   type="search"
                                                   class="uk-search-input uk-text-center"
                                                   autofocus="">
                                            <input type="submit" style="display:none;" value="Submit">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </check>

                    <check if="{{@templatevars.navisocial == 'on'}}">
                        <!-- social media icons -->
                        <div class="uk-navbar-item">
                            <ul class="uk-grid-small uk-flex-inline uk-flex-middle uk-flex-nowrap uk-grid" uk-grid="">
                                <check if="{{@feedattr.twitter}}">
                                    <li>
                                        <a href="https://twitter.com/{{@feedattr.twitter}}"
                                           class="uk-icon-button uk-icon-button-light"
                                           uk-icon="icon: twitter"></a>
                                    </li>
                                </check>
                                <check if="{{@feedattr.mastodon}}">
                                    <li>
                                        <a href="{{@feedattr.mastodon}}"
                                           class="uk-icon-button uk-icon-button-light"
                                           uk-icon="icon: mastodon"></a>
                                    </li>
                                </check>
                                <check if="{{@feedattr.facebook}}">
                                    <li>
                                        <a href="https://facebook.com/{{@feedattr.facebook}}"
                                           class="uk-icon-button uk-icon-button-light"
                                           uk-icon="icon: facebook"></a>
                                    </li>
                                </check>
                                <check if="{{@feedattr.github}}">
                                    <li>
                                        <a href="https://github.com/{{@feedattr.github}}"
                                           class="uk-icon-button uk-icon-button-light"
                                           uk-icon="icon: github"></a>
                                    </li>
                                </check>
                            </ul>
                        </div>
                    </check>
                </div>
            </nav>
        </div>
    </div>
    <div class="uk-sticky-placeholder"
         style="height: 100px; margin: 0px;"
         hidden="hidden"></div>
</div>