<h1>Netiquette</h1>

<p>
    Wir freuen uns sehr über <a href="https://disqus.com/home/forums/klimaretterinfo/#klimareporter"
                                target="_blank">Ihre Kommentare</a> zu Episoden oder Texten
    und bitten um Verständnis für das Verbergen des Kommentarbereichs, das dem
    <a href="{{@BASEURL}}{{@feedattr.slug}}/show/page/Datenschutz">Schutz Deiner Daten</a> dient.
    Eine Anmeldung ist nicht notwendig. Nicknames sind erlaubt.
</p>

<p>
    Bitte lasse Dich von der <a href="http://de.wikipedia.org/wiki/Goldene_Regel" target="_blank">Goldenen Regel</a>
    leiten, halte die übliche Netiquette ein und kennzeichne Zitate als solche.
</p>

<p>
    Es besteht kein Anspruch auf Veröffentlichung der Kommentare. Wir übernehmen keine
    Verantwortung für Inhalt, Richtigkeit und Form einzelner Beiträge.
</p>

<p>Was <b>nicht</b> akzeptiert wird:</p>
<ul>
    <li>Beleidigung oder Diskriminierung von Personen oder Gruppen</li>
    <li>Rassismus, Chauvinismus, Sexismus, Gewaltverherrlichung</li>
    <li>Aufruf zu Straftaten, Drohungen</li>
    <li>Werbung, Spam und maschinell erzeugte Beiträge</li>
    <li>Gleichzeitiges Kommentieren unter mehreren Namen</li>
    <li>Kommentieren unter fremdem Namen oder fremder Mailadresse</li>
</ul>

<p>Kommentare, die gegen diese Regeln verstoßen, werden gelöscht!</p>


<p>Kommentare werden zu dem, gelöscht oder gekürzt, wenn sie:</p>

<ul>
    <li>
        unverständlich, <a href="http://de.wikipedia.org/wiki/Off-Topic" target="_blank">off topic</a>
        oder zusammenhanglos sind; in Wortwahl, Ausdruck oder Sinn ausfallend
        oder herabsetzend sind; mehrfache Wiederholungen oder
        "<a href="http://de.wikipedia.org/wiki/Troll_(Netzkultur)" target="_blank">Trollen</a>" darstellen;
        ausschließlich Links oder Slogans enthalten; personenbezogene Daten enthalten; Rechte Dritter
        verletzen könnten; zu Seiten verlinken oder daraus zustimmend zitieren,
        die gegen obige Regeln verstoßen.
    </li>

    <li>
        Bei wiederholten oder schwerwiegenden Verstößen kann ein Nutzer gesperrt werden.
        Die Sperre gilt auch für "<a href="https://de.wikipedia.org/wiki/Sockenpuppe_(Netzkultur)"
                                     target="_blank">Sockenpuppen</a>".
    </li>

    <li>Auf einigen Seiten ist eine Kommentierung nicht vorgesehen.</li>
</ul>

<p>
    Bitte beachte die Hinweise zum <a href="{{@BASEURL}}{{@feedattr.slug}}/show/page/Datenschutz">Datenschutz</a>.
</p>

<p>
    <b>Technische Hinweise:</b>
    <br>Bitte beachten Sie beim Hineinkopieren von Text, dass die von uns genutzte
    Kommentarplattform <a href="http://de.wikipedia.org/wiki/Disqus" target="_blank">Disqus</a> weiche
    in harte Zeilenumbrüche umwandelt. In vielen Systemen lässt sich das durch "Einfügen ohne Formatierung"
    (Strg+Umschalt+V) vermeiden. Disqus zeigt außerdem
    Internetadressen fehlerhaft an, die eckige Klammern oder Umlaute enthalten oder in runde Klammern
    eingeschlossen sind. Dagegen hilft ein <a href="http://meyerweb.com/eric/tools/dencoder/"
                                              target="_blank">URL-Codierer</a>.
</p>